* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  background: linear-gradient(45deg, #240165, #05001c);
  padding: 20px;
}

.content {
  color: white;
  margin-top: 30px;
  text-align: center;
}

.content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.box {
  flex: 1 1 20%;
  margin: 10px;
  padding: 10px;
  background-color: #000;
  text-align: center;
}

.box h3 {
  padding: 5px;
  margin: 0;
  color: white;
  background: #5200e1;
}

.time {
  background: white;
  padding: 20px 50px;
  color: black;
  width: 100%;
  font-size: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option select {
  width: 100%;
  max-width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 5px;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 40px;
  }

  .content p {
    font-size: 16px;
  }

  .box {
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .content h1 {
    font-size: 30px;
  }

  .content p {
    font-size: 14px;
  }

  .box {
    flex: 1 1 90%;
  }
}
